.page4-head{
	background-color: #1984d1;
	font-size: 16px;
	overflow: hidden;
	box-shadow: none;
}
.page4-head a{
	color: #fff;
	text-align: center; 
	line-height: 44px;
}
.person-info{
	position: relative;
	margin-top: 44px;
	height: 100px;
	background-color:#1984d1 ;
	width: 100%;
}
.person-info img{
	margin: 10px;
	width: 76px;
	height: 76px;
	border-radius: 5px ;
	border: 2px  solid #5da9dd;
	float: left;
}
.person-info-content{
	margin-top: 30px;
	float: left;
	line-height: 14px;
}
.person-info span{
	position: absolute;
	right: 6px;
	top: 36px;
	color: #fff;
	font-size: 22px;
}
.page4-list{
	background-color: #fff;
	height: 50px;
	text-align: center left;
	line-height: 50px;
	border-bottom: 1px solid #dcdcdc;
}
.list-icon  {
	margin: 10px;
	font-size: 30px;
}
.list-content{
	font-size: 16px;
}
.list-text{
	font-size:13px;
	color: #858585;
	position: absolute;
	right: 30px;
}
.page4-list i{
	position: absolute;
	right: 6px;
	text-align: center;
	line-height: 50px;
	color: #cacaca;
}
.list-1{
	margin-bottom: 20px;
}

.list-6{
	margin-bottom: 20px;
}
.list-11{
	margin-bottom: 20px;
}
.list-13{
	margin-bottom: 20px; 
}
